* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-color: #d7c5f7;
    margin: 0;
    font-family: Arial, sans-serif; 
  }
  
  header {
    background-color: #917FB3;
  }
  
  .mini-nav {
    background-color: black;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mini-nav > h3 {
    color: white;
    font-size: 14px; 
  }
  
  header > nav {
    color: #917FB3;
  }
  
  #navbarDark > form {
    margin-right: 1rem; 
  }
  
  #navbarDark > ul > li {
    background-color: #917FB3;
  }
  
  #navbarDark {
    background-color: #917FB3;
  }
  
  .container-fluid,
  .form-control {
    background-color: #917FB3;
    color: #fff;
  }
  
  #navbarDark > form > input {
    color: black; 
    background-color: #fff;
  }
  
  .nombre-ecommerce {
    background-color: #917FB3;
    margin-left: 1rem; 
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem; 
    font-style: italic;
    font-weight: 700;
    padding: 0;
  }
  
  body > h1 {
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem  0;
  }
  
  main {
    width: 100%;
    padding: 1rem 1rem 3rem; 
    background-color: #d7c5f7;
    display: flex;
    justify-content: center;
  }
  
  #detalles-de-producto {
    display: flex;
    justify-content: center;
    
  }

  #detalle-producto > div > h2{
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;

    text-align: start;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #detalle-producto > div > h6{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    text-align: start;
    
    margin-bottom: 1rem;
  }

  #detalle-producto > div > h5{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    text-align: start;
    font-weight: 400;
   
    
  }

  #detalle-producto > div > div.descripcion{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    padding: 1rem 0rem;
    
  }

  #detalle-producto > div > div.notas{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 1rem 0rem;
  }
  
  #detalle-producto > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: start; 
    padding: 0;
  }
  
  #detalle-producto > div > img {
    max-width: 100%; 
    height: auto; 
    margin: 1rem 0;
  }
  
  #detalle-producto > div > button {
    width: 100%;
    color: black;
    background-color: #a492c4;
    margin-top: 1rem;
    &:hover {
      background-color: #c1ace7;
    }
  }
  
  footer {
    background-color: #917FB3;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: center;
  }
  
  ul li {
    list-style: none;
  }
  
  ul.faq li a {
    color: #d7c5f7;
    text-decoration: none;
  }
  
  ul.faq li a:hover {
    color: #c3b4ec;
  }
  
  body > footer > ul.faq-redes {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    justify-content: center;
    align-items: center; 
  }
  
  .png-redes {
    width: 1.5rem; 
    height: 1.5rem;
  }
  
  body > footer > ul.faq {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  body > footer > ul.ubicacion {
    font-size: 14px; 
    font-weight: 500;
    gap: 0.5rem;
  }
  
  body > footer > ul.ubicacion > li:nth-child(1) {
    text-align: center;
    font-size: 1rem;
  }
  

  @media screen and (max-width:560px) {

    footer {
    background-color: #917FB3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: center;
  }
  }