*{
    box-sizing: border-box;
    margin: 0%;
    border: 0;
   
    
}


body{
    
    width: 100%;
    height: 100%;
    background-color: #d7c5f7;
}

header{
    background-color: #917FB3;
    margin: 0%;
   
}

.mini-nav{
    background-color: black;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-nav > h3{
    color: white;
    font-size: small;
}

header > nav{
    color: #917FB3 ;
    padding: 0%;
    margin: 0%;
    
}


#navbarDark > form{
    margin-right: 5rem;
}




#navbarDark > ul > li{
    background-color: #917FB3;
}

#navbarDark{
    background-color: #917FB3;
}
.container-fluid, .form-control{
    background-color: #917FB3;
    color: #917FB3;
}


.nombre-ecommerce{
    
    background-color: 917FB3;
    margin-left: 14rem;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    
      padding: 0;   
}





body > h1{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0rem 0rem
}

main{

        width: 100%;
       
        padding: 1rem 8rem 3rem;
        background-color: #d7c5f7;
        display: flex;
        justify-content: center
        
    
}

#detalles-de-producto{
    display: flex;
    justify-content: center;
}

#detalle-producto > div{
    display: flex;
    flex-direction: column;
    background-color: #c3b4ec;
    height: 1000px;
    
}

#detalle-producto > div > img{
    width: 400px;
    height: 400px;
    align-items: center;
    margin-left: 18rem;
    position: relative;
    top: 1rem;

}

#detalle-producto > div{
    padding: 0rem 5rem;
}

#detalle-producto > div > button{
    color: black;
    background-color: #a492c4;
    position: relative;
    top: 2rem;
    
   
    &:hover{
        background-color: #c1ace7;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #917FB3;
    padding: 0rem 1rem;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
   
    
    
}

ul.faq li a {
    color: #d7c5f7;
    text-decoration: none; 
  }

  ul.faq li a:hover {
    color: #c3b4ec; 
  }

body > footer > ul.faq-redes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
   
}

.png-redes{
    width: 2rem;
    height: 2rem;
    display: flex;
}

body > footer > ul.faq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 0.5rem;
}

body > footer > ul.ubicacion{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    gap: 0.5rem;
}

body > footer > ul.ubicacion > li:nth-child(1){
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
    
    nav{
        width: 100%;
    }

    body > h1{
        padding: 2rem;
    }

    main{
        width: 100%;
        height: 80rem;
        padding: 0rem 4rem;
        
    }

    #detalle-producto{
        padding: 0rem 5rem;
        height: 83rem;
    }

    #detalle-producto > div{
        height: 78rem;
    }

    #detalle-producto > div > button{
        width: 100%;
        margin-top: 1rem;
    }
   
    

    footer{
        width: 100%;
        padding: 2rem 1rem;
    }

    
}





@media screen and (max-width: 480px){
  

    *{
    box-sizing: border-box;
    margin: 0%;
    border: 0;
    }
    body{
        width: 100%;
    }
    
    nav{
        width: 100%;
    }
    main{
        width: 100%;
        padding: 0rem 5rem;
        height: 90rem;
    }
    #detalle-producto{
        padding: 0rem 10rem;
        height: 83rem;
    }
    #detalle-producto{
        height: 90rem;
    }
    #detalle-producto > div > button{
        width: 100%;
        margin-top: 1rem;
    }

    #detalle-producto > div > div.descripcion{
        padding: 0rem 10rem;
    }

    #detalle-producto > div > div.notas{
        padding: 0rem 10rem;
    }

    #detalle-producto > div > h5 {
        padding: 0rem 6.5rem;
    }
    #detalle-producto > div > h6{
        padding: 0rem 6.5rem;

    }
   
    #detalle-producto > div > h2{
        padding: 2rem 6.5rem 0rem;
    }

    #detalle-producto > div > img{
        position: relative;
        left: -9rem;
    }



    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        column-gap: 4rem;
        align-items: center;
    }

    body > footer > ul.ubicacion > li:nth-child(1){
        text-align: center;
    }

}

